﻿﻿@using xpos334.viewmodels;
@model VMTblProduct;
@{
    ViewData["Title"] = "Detail Product";
}

<div class=" card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>

       
            <div class="mb-4 row">
                <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct" readonly>
                    <span id="validate_NameVariant" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                </div>
                <input type="text" class="form-control" id="IdCategory" name="IdCategory" value="@Model.NameCategory" readonly>

             
            </div>

            <div class="mb-4 row">
                <label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                </div>
                <input type="text" class="form-control" id="IdVariant" name="IdVariant" value="@Model.NameVariant" readonly>

            </div>

            <div class="mb-4 row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price" readonly>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    @if(Model.Image != null)
                    {            
                        <div> @Model.Image.Split("_",2)[1]</div>
                        <img src="~/images/@Model.Image" alt="Gambar @Model.NameProduct" class="" height="100" />
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">Back To List</a>
                </div>
            </div>
    </div>
</div>





