﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Product";
}

<div class=" card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Edit" method="post" id="form_input" enctype="multipart/form-data">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            @* untuk nambahin gambar, harus pake ini di form *@
            <div class="mb-4 row">
                <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct">
                    <span id="validate_NameVariant" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                </div>
                @Html.DropDownList(
                "IdCategory", new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),
                "--Pilih Kategory--",
                new { @class = "form-control"}
                )
            </div>

            <div class="mb-4 row">
                <label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                </div>
                @Html.DropDownList(
                "IdVariant", new SelectList(ViewBag.ListVariant, "Id", "NameVariant"),
                "--Pilih Variant--",
                new { @class = "form-control"}
                )
            </div>

            <div class="mb-4 row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Upload Image </label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameProduct: {
                required: true,
                minlength: 3,
            },
            Price: {
                required: true,
                number: true,
            },
            Stock: {
                required: true,
                number: true,
            },
            IdCategory: "required",
            IdVariant: "required",
            // ImageFile: {
            //     required: "Please fill image",
            //     typeFile: "jpg|jpeg|png",
            //     sizeFile: true,
            // },
        },

        messages: {
            NameProduct: {
                required: "Please fill Name product",
                minlength: "The name must consist of at least 3 character",
            },
            Price: {
                required: "Please fill price",
                number: "Please fill number only",
            },
            Stock: {
                required: "Please fill Stock",
                number: "Please fill number only",
            },

            IdCategory: "Please select category",
            IdVariant: "Please select variant",
            // ImageFile: {
            //     required: "Please fill image",
            //     typeFile: "please Upload jpg/jpeg/png",
            //     sizeFile: "Max Size 1MB",
            // },
        },
        submitHandler: function (form) {

            var name = $("#NameProduct").val()
            var id = $("#Id").val()
            var idVariant = $("#IdVariant").val()

            $.ajax({
                url: "/Product/CheckNameIsExist",
                type: "get", //type atau method sama aja.
                data: { name: name, id: id, idVariant: idVariant },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameProduct").text("Name Product Already Exists");
                        return true;
                    }
                    else {
                        fungsiSubmit(form)
                    }
                }

            })
        }
    })

    function fungsiSubmit(form) {
        var formData = new FormData()

        var dataForm = $(form).serializeArray()

        $.each(dataForm, function (key, input) {
            formData.append(input.name, input.value)
        })
        var file = $("#ImageFile").prop("files")
        if (file.length > 0) {
            formData.append("ImageFile", file[0])
        }

        $.ajax({
            url: "/Product/Edit",
            type: "post",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    // toastr.success(
                    //     data.message,
                    //     '',
                    //     {
                    //         timeOut: 500,
                    //         fadeOut: 500,
                    //         onHidden: function () {
                    //             window.location.reload()
                    //         }
                    //     }
                    // )


                    //Sweat Alert2 cari di web pengganti toastr
                    Swal.fire({
                        title: "Information!",
                        text: data.message,
                        icon: "success"
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }

    jQuery.validator.addMethod("typeFile", function (value, element, param) {
        return value.match(new RegExp("." + param + "$"));
    });

    jQuery.validator.addMethod("sizeFile", function (val, element) {
        var size = element.files[0].size;
        if (size > 1048576)// checks the file more than 1 MB
        {
            return false;
        } else {
            return true;
        }
    });



    $("#IdCategory").change(function () {
        var idCategory = $(this).val()
        $.ajax({
            url: "Product/GetDataByIdCategory",
            data: { id: idCategory },
            type: "json",
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append("<option value=''>--Pilih Variant--</option>")
                $.each(respon, function (index, res) {
                    $("#IdVariant").append("<option value='" + res.id + "'>" + res.nameVariant + "</option>")
                    // $("#idVariant").append("<option value='" +respon[index].id+ "'>"+res.nameVariant +"</option>")

                })
            }
        })
    })



</script>


