﻿
<form class="row g-3" id="form_validate">
    <div class="col-12">

        <div class="text-center">
            <p>
                Masukkan kode OTP yang telah dikirimkan ke
                email anda
            </p>
        </div>

        <input type="hidden" class="form-control" name="Email" id="Email" placeholder="Email" value="@ViewBag.email">

        

        <input type="text" class="form-control" name="token" id="token" placeholder="OTP">
        <span id="validate_otp" class="text-danger"></span>
    </div>
    <div class="text-center">
        <div>Time left = <span class="countdown"></span></div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Konfirmasi OTP</button>
    </div>
</form>

<div class="text-center" style="padding-top : 1.5rem">
    <button type="submit" class="btn btn-light" style="transform:scaleX(0)" id="btn_kirimulang" > Kirim Ulang OTP </button>
</div>




<script>

    $("#btn_kirimulang").click(function () {
        $("#btn_kirimulang").attr("disabled", true)
        reCreateOTP()

    })


    function reCreateOTP() {
        var email = $("#Email").val()
        var id = 0

        $.ajax({
            url: "/Auth/CreateOTP",
            type: "post",
            data: {email : email},
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#modal-body").empty()
                    $("#modal-body").load("Auth/ConfirmOTP?email=" + email)

                }
                else {

                }
            }
        })
    }



    $("#form_validate").validate({
        errorClass: "text-danger",
        rules: {
            token: {
                required: true,
                minlength : 6,
                maxlength : 6,
            }
        },
        messages: {
            token: {
                required: "Please Insert Your OTP",
                minlength: "insert 6 character",
                maxlength: "insert 6 character",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var token = $("#token").val()
            $.ajax({
                url: "/Auth/SubmitOTP",
                type: "get",
                data: {email : email , token : token},
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#modal-body").empty()
                        $("#modal-header").empty()
                        $("#modal-header").text("Set Password")
                        $("#modal-body").load("/Auth/SetPassword?email=" + email)
                    }
                    else {
                        $("#validate_otp").text("OTP salah");
                    }
                }

            })
        }
    })



    var timer2 = "00:10"
    var interval = setInterval(function () {


        var timer = timer2.split(':');
        //by parsing integer, I avoid all extra string processing
        var minutes = parseInt(timer[0], 10)
        var seconds = parseInt(timer[1], 10)
        --seconds;
        minutes = (seconds < 0) ? --minutes : minutes
        if (minutes < 0) clearInterval(interval)
        seconds = (seconds < 0) ? 59 : seconds;
        seconds = (seconds < 10) ? '0' + seconds : seconds
        //minutes = (minutes < 10) ?  minutes : minutes;
        $('.countdown').html(minutes + ':' + seconds)
        timer2 = minutes + ':' + seconds
        if(minutes == -1)
        {
            $(".countdown").html("0:00")
            $("#btn_kirimulang").removeAttr("disabled")
            $("#btn_kirimulang").css("transform" , "scaleX(1)")
        }
           }, 1000)

     
</script>




