﻿<div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
    <p class="text-center small">Enter your username & password to login</p>
</div>

<form class="row g-3 needs-validation" id="form_validation">
    <div class="col-12">
        <label for="Email" class="form-label">Email</label>
        <input type="text" name="Email" class="form-control" id="Email">
        @* <div class="invalid-feedback">Please enter your email.</div> *@
        @* <div class="input-group has-validation">
        </div> *@
    </div>

    <div class="col-12">
        <label for="Password" class="form-label">Password</label>
        <input type="password" name="Password" class="form-control" id="Password">
        @* <div class="invalid-feedback">Please enter your password.</div> *@
    </div>

    <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Login</button>
    </div>
    <div class="col-12">
        <p class="small mb-0">Don't have account? <a id="btn_createaccount" class="text-primary" style="cursor: pointer">Create an account</a></p>
    </div>
</form>
<script>


    $("#btn_createaccount").click(function () {
        $("#modal-body").empty()
        $("#modal-header").empty()
        $("#modal-header").text("Daftar")
        $("#modal-body").load("/Auth/Register")
    })
</script>
