﻿

<form class="row g-3" id="form_register">
    <div>
        <p>
            Masukkan email Anda. Kami akan melakukan
            pengecekan
        </p>
    </div>
    <div class="col-12">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" id="Email" oninput="resetValidate()" placeholder="Email">
        <span id="validate_email" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button id="btn_submit" type="submit" class="btn btn-primary">Kirim OTP</button>
    </div>
</form>


<script>
    

    $("#form_register").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                required: true,
                email: true,
            }
        },
        messages: {
            Email: {
                required: "Please Insert Your Email",
                email: "PLease Insert a valid Email",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            $.ajax({
                url: "/Auth/CheckEmailIsExist",
                type: "get",
                data: { email: email },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_email").text("Email is already exists")

                    }
                    else {
                        $("#validate_email").empty()
                        $("#btn_submit").attr("disabled", true)
                        fungsiSubmit(dataForm)

                    }
                }

            })
        }
    })


    

    function fungsiSubmit(dataParam) {
        var email = $("#Email").val()
        $.ajax({
            url: "/Auth/CreateOTP",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {

                    $("#modal-header").empty()
                    $("#modal-body").empty()
                    $("#modal-header").text("Verifikasi E-Mail")
                    $("#modal-body").load("Auth/ConfirmOTP?email="+email)

                }
                else {
                    
                    $("#modal-body").empty()
                    $("#btn_submit").removeAttr("disabled")
                    $("#modal-body").load("Auth/Register")
                }

            }
        })
    }



    function resetValidate(){
        $("#validate_email").text("")
    }


</script>

