﻿<form class="row g-3" id="form_register" asp>
    <div class="col-12">
        <input type="hidden" class="form-control" name="Email" id="Email" value="@ViewBag.email">

        <input type="hidden" class="form-control" name="Password" id="Password" value="@ViewBag.password">
    </div>

    <div class="col-12">
        <label for="FullName" class="form-label">Nama Lengkap</label>
        <input type="text" class="form-control" name="FullName" id="FullName" placeholder="Ariana">
        <span id="validate_Name" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label for="Mobile_Phone" class="form-label">Nomer Handphone</label>
        <input type="text" class="form-control" name="Mobile_Phone" id="Mobile_Phone" placeholder="081234567">
    </div>
    <div class="mb-3">
        @*  @dropdown HTML@ *@
        <label for="RoleId" class="form-label">Daftar Sebagai</label>

        @Html.DropDownList("RoleId",
        new SelectList(ViewBag.ListRole, "Id", "Name"),
        "--Pilih--",
        new { @class = "form-control" }
        )

    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Daftar</button>
    </div>  
</form>




 <script>
    $("#form_register").validate({
        errorClass: "text-danger",
        rules: {
            FullName: {
                required: true,
                minlength: 3,
            },
            Mobile_Phone: {
                number: true,
            },
            RoleId: {
                required : true,
            }
        },
        messages: {
            FullName: {
                required: "Please fill Name",
                minlength: "The name must consist of at least 3 character",
            },
                Mobile_Phone: {
                number: "Please Insert a number",
            },
        RoleId: {
            required: "please fill a Role",
            }


        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            $.ajax({
                url: "/Auth/Create",
                type: "post", //type atau method sama aja.
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        Swal.fire(
                            'Information!',
                            data.message,
                            'success'
                        ).then(function () {
                            $("#modal-body").load("/Auth/Login")
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Warning!',
                            text: data.message  
                        })
                    }
                }

            })
        }
    })

</script>