﻿<form class="row g-3" id="form_register">

    <div class="text-center">
        <p>
            Masukkan pasword baru untuk akun anda
        </p>
    </div>
    <div class="col-12">
        <input type="hidden" class="form-control" name="Email" id="Email" value="@ViewBag.email">

        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" name="Password" id="Password" oninput="check_valid()" placeholder="Password">
        <span id="validate_email" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label for="re_password" class="form-label">Masukkan Ulang Password</label>
        <input type="password" class="form-control" name="re_password" id="re_password" placeholder="Masukkan ulang password">
        <span id="validate_email" class="text-danger"></span>
    </div>

    <div id="check_password" hidden  style="color:red">
        <p id="panjang">*Password minimal 8 karakter</p>
        <p id="huruf_besar">*Password harus mengandung huruf besar</p>
        <p id="huruf_kecil">*Password harus mengandung huruf kecil</p>
        <p id="angka">*Password harus mengandung angka</p>
        <p id="simbol">*Password harus mengandung simbol ( @@#$%& )</p>
    </div>


    <div class="text-center">
        <button type="submit" id="btn_submit" class="btn btn-primary">Set Password</button>
    </div>
</form>


<script>
    $("#btn_submit").click(function () {
        $("#check_password").attr("hidden", false)

    })


    $("#form_register").validate({
        errorClass: "text-danger",
        rules: {
            
            Password: {
                required: true,
                strong_password: true
            },
            re_password: {
                equalTo: "#Password",
                required: true,
            },
            
        },
        messages: {
            Password: {
                required: "Please fill password"
            },
            re_password: {
                equalTo: "Please fill the same value again.",
                required: "Please fill re-password",
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var password = $("#Password").val()

            $("#modal-body").empty()
            $("#modal-header").empty()
            $("#modal-header").text("Set Biodata")
            $("#modal-body").load("Auth/SetBiodata", {email :email , password: password})
        }
    })
    $.validator.addMethod("strong_password", function (value, element) {
        let password = value;
        if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])(.{8,20}$)/.test(password))) {
            return false;
        }
        return true;
    }, function (value, element) {
        let password = $(element).val();
        if (!(/^(.{8,20}$)/.test(password))) {
            return 'Password tidak valid';
        }
        else if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password tidak valid';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password tidak valid';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password tidak valid';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Password tidak valid";
        }
        return false;
    });


    function check_valid() {
        var password_contain = $("#Password").val()

        var panjang = new RegExp(/^(.{8,}$)/)
        var huruf_besar = new RegExp(/^(?=.*[A-Z])/)
        var huruf_kecil = new RegExp(/^(?=.*[a-z])/)
        var angka = new RegExp(/^(?=.*[0-9])/)
        var simbol = new RegExp(/^(?=.*[@@#$%&])/)

        if (panjang.test(password_contain)) {
            $("#panjang").attr("hidden", true)
        } else {
            $("#panjang").attr("hidden", false)
        }

        if (huruf_besar.test(password_contain)) {
            $("#huruf_besar").attr("hidden", true)
        } else {
            $("#huruf_besar").attr("hidden", false)
        }

        if (huruf_kecil.test(password_contain)) {
            $("#huruf_kecil").attr("hidden", true)
        } else {
            $("#huruf_kecil").attr("hidden", false)
        }

        if (angka.test(password_contain)) {
            $("#angka").attr("hidden", true)
        } else {
            $("#angka").attr("hidden", false)
        }

        if (simbol.test(password_contain)) {
            $("#simbol").attr("hidden", true)
        } else {
            $("#simbol").attr("hidden", false)
        }


    }


</script>