﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Friend";
}

<div>Are you sure delete @Model.Name Data?</div>

<form action="Delete" method="post">
    <div class="form-group row">
        <input type="hidden" id="Id" name="Id" value="@Model.Id"></input>
        @* <input type="hidden" id="Name" name="Name" value="@Model.Name"></input> *@
        <div>
            <button type="submit" class="btn btn-warning">Submit</button>
            <a class="btn btn-light" asp-asp-controller="Friend" asp-action="Index">Bact To List</a>
        </div>
    </div>
</form>

