﻿@using med_id.viewmodels;
@model VMMRole;

@{
    var role_menu = ViewBag.role_menu;
}
<div class="card">
    <div class="card-body">

  

        <form asp-action="Edit_MenuAccess" method="post" id="form_input">

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" id="Name" name="Name" value="@Model.Name" >
                </div>
            </div>
            <div class="mb-4 row">
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" id="Code" name="Code" value="@Model.Code" >
                </div>
            </div>
            <div class="mb-4 row">
                <div class="col-sm-8">

                    <div id="role_menu_form">
                        <div class="checkbox-parent-area">
                            <div class="checkbox-list">
                                <input type="checkbox" id="cbx_selectall" />
                                <label class="label-menus" for="cbx_selectall">Select All</label>
                            </div>

                            @foreach (VMMMenuRole item in role_menu)
                            {
                                <div class="checkbox-list">
                                    @if (item.is_selected)
                                    {
                                        <input type="checkbox" class="filled-in checkbox-menus parentt" id="@item.MenuId" name="@item.MenuId" value="@item.MenuId" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="filled-in checkbox-menus parentt" id="@item.MenuId" name="@item.MenuId" value="@item.MenuId">
                                    }
                                    <label class="label-menus" for="@item.MenuId">@item.Name</label>

                                    @foreach (VMMMenuRole child in item.ListChild)
                                    {
                                        <div class="checkbox-list" style="margin-left:2rem">
                                            @if (child.is_selected)
                                            {
                                                <input type="checkbox" class="filled-in checkbox-menus @item.MenuId" id="@child.MenuId" name="@child.MenuId" value="@child.MenuId" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="filled-in checkbox-menus @item.MenuId" id="@child.MenuId" name="@child.MenuId" value="@child.MenuId">
                                            }
                                            <label class="label-menus" for="@child.MenuId">@child.Name</label>
                                        </div>
                                    }

                                </div>
                            }
                        </div>
                    <span id="validate_menuaccess" hidden class="text-danger"></span>
                    </div>
                    <div class="mb-4 row" style="margin-top:1.5rem; display:flex; justify-content:space-between">
                 
                        <div class="col-sm-1">
                            <button type="submit" id="btn_submit" class="btn btn-primary">Submit</button>
                        </div>
                    
                        <div class="col-sm-8">
                            <a class="btn btn-light" asp-controller="MRole" asp-action="Index">Back to List</a>
                        </div>
                    </div>


                </div>
            </div>


            
        </form>

    </div>
</div>

<script>

    $("#btn_submit").click(function () {
        $("#validate_menuaccess").attr("hidden", false)
    })

    var form_value = {}

    $(function () {
        generate_checkbox_role_menu()
        validasi_list_selected()
    })

    function generate_checkbox_role_menu() {
        form_value.role_menu = [];
        $.each($('#role_menu_form').find('.checkbox-menus'), function (i, item) {
            var id = $(this).attr('id');
            $(this).attr('id', 'role_menu__' + i + '_is_selected');
            $(this).attr('name', 'role_menu[' + i + '].is_selected');
            $(this).attr('data-index', i);
            $('label[for=' + id + ']').attr('for', 'role_menu__' + i + '_is_selected');
            var is_selected = $(this).prop('checked');
            form_value.role_menu.push({
                is_selected: is_selected,
                MenuId: id
            });
        });

        $('.checkbox-menus').click(function () {
            var class_child = $(this).val();
            var _this = this;
            var index = -1;
            index = $(this).attr('data-index');
            if ($(this).prop('checked')) {
                form_value.role_menu[index].is_selected = true;
                $('#role_menu_form .' + class_child).prop('checked', true);
                $.each($('.' + class_child), function () {
                    index = $(this).attr('data-index');
                    form_value.role_menu[index].is_selected = true;
                });
            }
            else {
                form_value.role_menu[index].is_selected = false;
                $('#role_menu_form .' + class_child).prop('checked', false);
                $.each($('.' + class_child), function () {
                    index = $(this).attr('data-index');
                    form_value.role_menu[index].is_selected = false;
                });
            }
            var classList = $.trim($(this).attr('class').replace('filled-in checkbox-menus', ''));
            if (classList.length > 0) {
                classList = classList.split(' ');
                $.each(classList, function (i, item) {
                    if ($(_this).prop('checked')) {
                        $('input[type=checkbox][value=' + item + '].checkbox-menus').prop('checked', true);
                        index = $('input[type=checkbox][value=' + item + '].checkbox-menus').attr('data-index');
                        form_value.role_menu[index].is_selected = true;
                    }
                    else {
                        if ($('input[type=checkbox].checkbox-menus.' + item + ':checked').length == 0) {
                            $('input[type=checkbox][value=' + item + '].checkbox-menus').prop('checked', false);
                            index = $('input[type=checkbox][value=' + item + '].checkbox-menus').attr('data-index');
                            form_value.role_menu[index].is_selected = false;
                        }
                    }
                });
            }

            //Validasi Menu Access Checkbox
            validasi_list_selected()
        });



        $('.parentt').click(function () {
            var id = $(this).attr('id');
            //debugger
            if ($('#' + id).prop('checked')) {
                $('.' + id).prop('checked', true);
            }
            else {
                $('.' + id).prop('checked', false);
            }

            //Validasi Menu Access Checkbox
            validasi_list_selected()
        });




        $('#cbx_selectall').click(function () {
            if ($(this).prop('checked')) {
                $('.checkbox-menus').prop('checked', true);
                $.each($('.checkbox-menus'), function () {
                    index = $(this).attr('data-index');
                    form_value.role_menu[index].is_selected = true;
                });
            }
            else {
                $('.checkbox-menus').prop('checked', false);
                $.each($('.checkbox-menus'), function () {
                    index = $(this).attr('data-index');
                    form_value.role_menu[index].is_selected = false;
                });
            }

            //Validasi Menu Access Checkbox
            validasi_list_selected()
        });

      


    }

    function validasi_list_selected() {
        var list_selected = $(form_value.role_menu).filter(function (i, n) {
            return n.is_selected == true;
        });
        if (list_selected.length > 0) {
            if (list_selected.length == form_value.role_menu.length) {
                $('#cbx_selectall').prop('checked', true);
            }
            $("#validate_menuaccess").text("")
            return true
        }
        else {
            $('#cbx_selectall').prop('checked', false);
            $("#validate_menuaccess").text("Menu Akses harus dipilih minimal 1 menu")
            return false
        }
    }

    $("#form_input").validate({
        submitHandler: function (form) {
            //Validasi Menu Access Checkbox saat Submit
            if (validasi_list_selected()) {
                //var dataForm = $(form).serialize()
                form_value.Id = $("#Id").val()
                form_value.Name = $("#Name").val()

                $.ajax({
                    url: "/MRole/Edit_MenuAccess",
                    data: form_value,
                    type: "post",
                    dataType: "json",
                    success: function (respon) {
                        var data = respon.dataRespon
                        if (data.success) {
                            $("#my_modal").modal("hide")

                            Swal.fire(
                                'Information!',
                                data.message,
                                'success'
                            ).then(function () {
                                window.location.reload();
                            })

                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Warning!',
                                text: data.message
                            })
                        }
                    }
                })
            }

        }

    })



    ///btn back
  

</script>