﻿@using med_id.datamodels;
@using med_id.viewmodels;

@model PaginatedList<MRole>;


<div id="main" class="main m-0">
        <div class="pagetitle">
            <h1>Menu Roles</h1>
        </div><!-- End Page Title -->
    <div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-12">
               <div class="row mb-4"></div>
                <div class="d-flex justify-content-between">
                    <div class="col-2">
                        
                    </div>
                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">

                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search..." />
                            <div class="input-group-prepend h-10">
                                <button type="submit" class="input-group-text" title="search">
                                        <i class="bi bi-search"></i>
                                </button>
                            </div>
                            <div class="input-group-prepend h-10">
                                <a class="input-group-text" asp-action="Index" title="reset">
                                        <i class="bi-eraser"></i>
                                </a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>


        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">

                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th>NAMA.</th>
                                        <th>KODE</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        @{
                                            if(Model.Count !=0)
                                            {

                                                foreach(var item in Model)
                                                {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.Code</td>
                                                    <td>
                                                            <a class="btn btn-warning text-white btn_edit" dataid="@item.Id"><span style="text-decoration:underline">Edit</span><i class="bi-pencil-fill"></i></a>

                                                    </td>
                                                </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        data not Found
                                                    </td>
                                                </tr>
                                            }

                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
  </div>


    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
            
            <div class="col-10">
                Page @Model.PageIndex of @Model.TotalPages
                <a asp-action="Index"
                   asp-route-sortOrder="ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFiler"
                   asp-route-pageSize="@ViewBag.CurrentPageSize" class=" btn btn_info float-right @prevDisabled">Prev</a>
                <a asp-action="Index"
                   asp-route-sortOrder="ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFiler"
                   asp-route-pageSize="@ViewBag.CurrentPageSize" class=" btn btn_info float-right @nextDisabled">Next</a>
            </div>
    </div>



</div>

<script>

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")
        $("#modal-body").empty()
        $("#modal-header").empty()
        $("#modal-header").text("Edit Menu Access")
        $("#modal-body").load("/MRole/Edit_MenuAccess?id=" + id)
        $("#my_modal").modal("show")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
</script>


