﻿@using med_id.viewmodels;
@model VMMLocation
<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post" id="form_delete">
            <input type="hidden" id="Id" name="Id" value="@Model.Id">
            <h3 class="">Are you sure to delete this data <br />@Model.Name</h3>
            <div class="mb-4 row">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes?</button>
                <a asp-controller="MLocation" asp-action="Index" class="btn btn-light">No</a>
            </div>
        </form>
    </div>
</div>


<script>
    $("#form_delete").validate({
        submitHandler: function (form) {
            // var formData =new FormData()
            var dataForm = $(form).serialize()
            var id = $("#Id").val()
            // $.each(dataForm, function (key, input) {
            //     formData.append(input.name, input.value)
            // })
            
            // console.log(id)

           
            $.ajax({
                url: "/MLocation/CheckWilayahInUserOrNot",
                type: "get",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        Swal.fire({
                            title: "Tidak Bisa diHapus!",
                            text: "Data Masih Digunakan",
                            icon: "Error"
                        });
                    }
                    else {
                        fungsiSubmit(dataForm)

                    }

                }
            })
        }
    })

    function fungsiSubmit(dataForm) {
        $.ajax({
            url: "/MLocation/SureDelete",
            type: "post",
            data: dataForm,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire({
                        title: "Information!",
                        text: data.message,
                        icon: "success"
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }



                //     $.ajax({
                //     url: "/MLocation/CheckWilayahInUserOrNot",
                //     type: "get",
                //     data: dataForm,
                //     dataType: "json",
                //     success: function (respon) {
                //         if (respon) {
                //             Swal.fire({
                //                 title: "Error!",
                //                 text: data.message,
                //                 icon: "Error"
                //             });
                //         }
                //         else {
                //             fungsiSubmit(dataForm)

                //         }
                //     }

                // })

</script>
