﻿@using med_id.datamodels;
@using med_id.viewmodels;
@model PaginatedList<VMMLocation>;
<div id="main" class="main m-0">

    <div class="pagetitle">
        <h1>Lokasi</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="row mb-4"></div>
                        
                            <div class="d-flex justify-content-between">
                                <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                                    <div class="input-group w-150">
                                        <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search..." />
                                        <div class="input-group-prepend h-10">
                                            <button type="submit" class="input-group-text" title="search">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-prepend h-10">
                                            <a class="input-group-text" asp-action="Index" title="reset">
                                                <i class="bi-eraser"></i>
                                            </a>
                                        </div>
                                    </div>
                                </form>

                                <div>
                                    <form name="LevelLocation" id="form_level_location" asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize"
                                      asp-route-currentFilter="@ViewBag.CurrentFilter">
                                      
                                        @Html.DropDownList(
                                "LevelLocation", new SelectList(ViewBag.listLevelLocation, "Id", "Name"),
                                        "--Pilih Location Level--",
                                        new { @class = "form-control"}
                                        )
                                   </form>
                                </div>
                                <div>
                                    <button type="submit" id="btn_create" class="btn btn-light" >Create</button>
                                </div>

                            </div>


                    
                </div>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body">

                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th>
                                                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort"
                                                   asp-route-currentFilter="@ViewBag.currentFilter"
                                                   asp-route-pageSize="@ViewBag.currentPageSize">
                                                    Nama
                                                </a>
                                            </th>
                                            <th>
                                                <a asp-action="Index" asp-route-sortOrder="@ViewBag.LocationLevelSort"
                                                   asp-route-currentFilter="@ViewBag.currentFilter"
                                                   asp-route-pageSize="@ViewBag.currentPageSize">
                                                    Level Lokasi
                                                </a>
                                            </th>
                                            <th>Wilayah</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            if (Model.Count != 0)
                                            {

                                                foreach (var item in Model)
                                                {
                                                                    <tr>
                                                                        <td>@item.Name</td>
                                                                        <td>@item.LocationLevelName</td>
                                                                        <td>
                                                                        
                                                                           @if(item.ParentData != null)
                                                            {
                                                                                @item.ParentChildName
                                                                                // @if(item.ParentData.ParentData != null)
                                                                                //     {
                                                                                //     <a>,</a>
                                                                                //     @item.ParentData.ParentData.Name

                                                                                //     }
                                                            }
                                                            else
                                                            {
                                                                                <a>-</a>
                                                            }

                                                                        </td>
                                                                        <td>
                                                                            <a class="btn btn-warning text-white btn_edit" dataid="@item.Id"><span style="text-decoration:underline">Edit</span><i class="bi-pencil-fill"></i></a>
                                                                             <a class="btn btn-danger text-white btn_delete" dataid="@item.Id"><span style="text-decoration:underline">Delete</span><i class="bi-trash-fill"></i></a>

                                                                        </td>
                                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                                <tr>
                                                                    <td>
                                                                        data not Found
                                                                    </td>
                                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>




    <div class="card-footer">

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row">
            <div class="col-2">
                <form asp-action="Index" id="form_pagesize">
                    <select name="PageSize" id="PageSize" class="form-control">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </form>
            </div>
            <div class="col-10">
                Page @Model.PageIndex of @Model.TotalPages
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @prevDisabled">
                    Prev
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @nextDisabled">
                    Next
                </a>
                
            </div>
        </div>

    </div>


       
</div>
<script>


    $("#LevelLocation").change(function () {
        $("#form_level_location").submit()
    })
   

        $("#btn_create").click(function () {
            $("#modal-body").empty()
            $(".modal-dialog").addClass("modal-lg")
            $("#modal-body").load("/MLocation/Create")
            $("#my_modal").modal("show")
        })

        $(".btn_edit").click(function () {
            var id = $(this).attr("dataid")
            $("#modal-body").empty()
        $(".modal-dialog").addClass("modal-lg")

            $("#modal-body").load("/MLocation/Edit?id=" + id)
            $("#my_modal").modal("show")
        })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        $("#modal-body").empty()
        $(".modal-dialog").addClass("modal-lg")

        $("#modal-body").load("/MLocation/Delete?id=" + id)
        $("#my_modal").modal("show")
    })



    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
</script>
