﻿<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
     style="background:url(/adminmart/assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box row">
        <div class="col-lg-7 col-md-5 modal-bg-img pembungkus" style="background-image: url(/adminmart/assets/images/big/3.jpg);">
            <div class="lingkaran"></div>
            
        </div>
        <div class="col-lg-5 col-md-7 bg-white">
            <div class="p-3">
                <div class="text-center">
                    <img src="/adminmart/assets/images/big/icon.png" alt="wrapkit">
                </div>
                <h2 class="mt-3 text-center">Sign In</h2>
                <p class="text-center">Enter your email address and password to access admin panel.</p>
                <form class="mt-4" id="form_login" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" for="Email">Email</label>
                                <input class="form-control" id="Email" name="Email" type="email"
                                       placeholder="enter your Email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" for="Password">Password</label>
                                <input class="form-control" id="Password" name="Password" type="password"
                                       placeholder="enter your password">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-block btn-dark">Sign In</button>
                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            Don't have an account? <a id="btn_register" class="text-danger">Sign Up</a>
                        </div>

                        <div class="col-lg-12 text-center mt-5">
                          <a id="btn_register" id="btn_forgot_password" class="text-danger">Forgot Password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script>

    $("#btn_register").click(function(){
        $("#modal_body").empty()
        $("#modal_body").load("/Auth/Register")
        $("#my_modal").modal("show")
    })



    $("#form_login").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Email: {
                required: true,
                email: true,
            },
            Password: "required",
        },
        messages : {
            Email: {
                required: "Please Insert Your Email",
                email: "Please Insert a valid email addres",
            },
            Password: "Please Insert  Password",

        },
        submitHandler: function(form){
            var email =$("#Email").val()
            var password =$("#Password").val()

            $.ajax({
                url:"/Auth/LoginSubmit",
                type: "post",
                data: {email : email , password : password},
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#my_modal").modal("hide")
                        window.location.reload()
                    }
                    else {
                        Swal.fire({
                            title: "Information!",
                            text: data.message,
                            icon: "success"
                        })
                    }
                    
                }
            })
        }
    })
</script>



<style>
    .pembungkus{
        position: relative;

    }
    .lingkaran{
        width : 5rem;
        height : 5rem;
        position : absolute;
        background : black;
        border-radius : 50%;
    }
</style>



