﻿@using xpos334.datamodels;
@model TblRole

@{

    ViewData["Title"] = "Edit Role";
}


<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>
        <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

        <div class="mb-4 row">
            <label for="Id" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="CreateDate" class="col-sm-4 col-form-label">Create Date</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="CreateDate" name="CreateDate" value="@Model.CreatedDate" readonly>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-sm-10">
                <a class="btn btn-outline-primary" asp-controller="Role" asp-action="Index">Back To List</a>
            </div>
        </div>

    </div>
</div>