﻿
@{
    ViewData["Title"] = "Create Category";
}
<div class="card">   
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                    <span id="validate_NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Description" name="Description">@Model.Description</textarea>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
        $("#form_input").validate({
            errorClass: "text-danger",
            rules: {
                NameCategory: {
                    required: true,
                    minlength: 3,
                }

            },
            messages: {
                NameCategory: {
                    required: "Please insert Name Category",
                    minlength: "Please Insert at least 3 character"
                }
            },
            submitHandler: function(form){
                
                var dataForm = $(form).serialize()
                var nameCategory = $("#NameCategory").val()
                var id = 0;

                $.ajax({
                    url:"/Category/CheckNameIsExist",
                    type:"get", //type atau method sama aja.
                    data: {nameCategory: nameCategory, id: id},
                    dataType: "json",
                    success:function(respon){
                        if (respon) {
                            $("#validate_NameCategory").text("Name Category Already Axists")
                            return true;
                        }
                        else {
                            fungsiSubmit(dataForm)
                        }
                    }

                })
            }
        })

    function fungsiSubmit(dataParam) { 
        $.ajax({
            url:"/Category/Create",
            type:"post",
            data: dataParam,
            dataType: "json",
            success: function(respon) {
                var data = respon.dataRespon
                if (data.success) 
                {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }
</script>