﻿@using xpos334.datamodels;
@using xpos334.viewmodels;
@model PaginatedList<TblCategory>
@{
    ViewData["Title"] = "Category";
}


<div class="card">
    <div class="card-body">
        <h1 class="card-title">@ViewData["Title"]</h1>

        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button id="btn_create" class="btn btn-primary">Create</button>

                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">

                    <div class="input-group w-100">
                        <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search..."/>
                        <div class="input-group-prepend">
                            <button type="submit" class="input-group-text" title="search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend">
                            <a class="input-group-text" asp-action="Index" title="reset">
                                <i class="fas fa-redo"></i>
                            </a>                           
                        </div>

                    </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-hover mb-3">
            <thead>
                <tr>
                    <th>

                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-pageNumber="@ViewBag.CurrentPageSize"
                        class="text-decoration-none">
                            Name Variant
                        </a>
                    </th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Count != 0)
                {
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.NameCategory</td>
                            <td>@item.Description</td>
                            <td>
                                <a class="btn btn-warning btn_edit text-white" dataid="@item.Id">Edit</a>
                                <a class="btn btn-info btn_detail text-white" dataid="@item.Id">Detail</a>
                                <a class="btn btn-danger btn_delete text-white" dataid="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            Data Not Found!
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disable" : "";
        }
        <div class="row">
            <div class="col-2">
                <form asp-action="Index" id="form_pagesize">
                    <select name="PageSize" id="PageSize" class="form-control">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </form>
            </div>
            <div class="col-10">
                Page @Model.PageIndex of @Model.TotalPages
                <a asp-action="Index"
                asp-route-sortOrder="ViewBag.CurrentSort"
                asp-route-pageNumber="@(Model.PageIndex + 1)"
                asp-route-currentFilter ="@ViewBag.CurrentFiler"
                asp-route-pageSize="@ViewBag.CurrentPageSize" class=" btn btn_info float-right @nextDisabled"
                >Next</a>
                <a asp-action="Index"
                   asp-route-sortOrder="ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFiler"
                   asp-route-pageSize="@ViewBag.CurrentPageSize" class=" btn btn_info float-right @prevDisabled">Next</a>
            </div>
        </div>
    </div>

</div>

<script>


    



    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Category/Create")
        $("#my_modal").modal("show")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Category/Edit?id="+id)
        $("#my_modal").modal("show")
    })

    $(".btn_detail").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Category/Detail?id=" + id)
        $("#my_modal").modal("show")
    })


    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Category/Delete?id=" + id)
        $("#my_modal").modal("show")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $("#PageSize").change(function()
    {
        $("#form_pagesize").submit()
    })

</script>               