﻿@*
    seebelum kesini dari VariantTryController
    
*@
@{

    ViewData["Title"] = "Create Variant Try";
}

<div class=" card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant">  
                </div>
            </div><div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                </div>
                @Html.DropDownList(
                    "IdCategory", new SelectList(ViewBag.DropdownCategory, "Id", "NameCategory"),
                    "--Pilih Kategory--", 
                    new { @class = "form-control"}
                )
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="VariantTry" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>



    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameVariant: {
                required : true,
                minlength : 3,
            },

            IdCategory : "required"
        },
        messages: {
            NameVariant: {
                required : "Masukkan Nama Variant",
                minlength : "minimal 3 brook"
            },
            IdCategory: "Please select Category"
        }
    })
</script>