﻿@{
    ViewData["Title"] = "Detail Variant Try";
}
<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>

            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                     <input type="text" class="form-control" id="NameCategory" name="NameCategoty" value="@Model.NameCategory" readonly>
                </div>
                </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <a class="btn btn-outline-primary" asp-controller="VariantTry" asp-action="Index">Back To List</a>
                </div>
            </div>

    </div>
</div>
