﻿@using med_id.viewmodels;
@model VMAlamat;
<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post" id="form_input">

            <div class="mb-4 row">
                <label for="Label" class="col-sm-4 col-form-label">Label</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Label" name="Label" placeholder="Contoh : Rumah/Kantor">
                    <span id="validate_Label" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Recipient" class="col-sm-4 col-form-label">Nama Penerima</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Recipient" name="Recipient">
                    <span id="validate_Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="RecipientPhoneNumber" class="col-sm-4 col-form-label">Nomer Penerima</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RecipientPhoneNumber" name="RecipientPhoneNumber">
                    <span id="validate_Name" class="text-danger"></span>
                </div>
            </div>



            <div class="mb-4 row">
                <label for="LocationId" class="col-sm-4 col-form-label">Wilayah</label>
                <div class="col-sm-8">
                    @if (ViewBag.ListLocation != null)
                    {
                        @Html.DropDownList("LocationId",
                    new SelectList(ViewBag.ListLocation,"Id","Name"),
                    "--Pilih Kota/Kecamatan--",
                    new{@class = "form-control"}
                    )
                    }
                    else
                    {
                        <p>Error: Data for dropdown is null.</p>
                    }
                </div>
            </div>

            <div class="mb-4 row">
                <label for="PostalCode" class="col-sm-4 col-form-label">Kode Post</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode">
                    <span id="validate_Name" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Address" name="Address"></textarea>
                    
                </div>
            </div>


           
            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="MBiodataAddress" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>


 
<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Label: {
                required: true,
            },
            Recipient: {
                required: true,
            },
            RecipientPhoneNumber: {
                required: true,
                number: true,
            },
            LocationId: {
                required: true,
            },
            Address: {
                required: true,
            },
        },
        messages: {
            Label: {
                required: "Please Insert Label",
            },
            Recipient: {
                required: "Please Insert Recipient",
            },
            RecipientPhoneNumber: {
                required: "Please Insert Recipient phone number",
                number: "Please insert number",

            },
            LocationId: {
                required: "Please Insert Location",
            },
            Address: {
                required: "Please Insert Address",
            },
        },

        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var label = $("#Label").val()
            var id = 0
            console.log(label)
            $.ajax({
                url: "/MBiodataAddress/CheckNameIsExist",
                type: "get",
                data: { label: label, id: id },
                datatype: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_Label").text("Name Label Already Exists");

                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataForm){
    $.ajax({
        url: "/MBiodataAddress/Create",
        type: "post",
        data: dataForm,
        datatype: "json",
        success: function (respon) {
            if (respon) {
                Swal.fire({
                    title: "Information!",
                    text: respon.message,
                    icon: "success"
                }).then((result) => {
                    if (result.value) {
                        window.location.reload();
                    }
                });
            }
            else {

            }
        }

    })
}

</script> 