﻿@using med_id.viewmodels
@model PaginatedList<VMAlamat>;

<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> &emsp;/</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-sm-4">

        <div class="card">
            <div>
                <h4 type="file" class="ti ti-edit" style="position:absolute;top:30px;right:70px;">&nbsp;</h4>
            </div>
            <div class="card-body text-center">
                <img src="~/Modernize-1.0.0/src/assets/images/profile/user-1.jpg" class="rounded-circle img-thumbnail" height="150" width="150">
                <h2>&nbsp;</h2>
                <h5 class="card-title">Bronze Member</h5>
                <p class="card-text">Since 2020</p>
                <h5>  &#9733;</h5>
                <h5>&nbsp;</h5>
            </div>
            <div style="border-top:hidden lightgrey 0.05px;">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Pasien</h5>
            </div>
            <div style="border-bottom:hidden lightgrey 0.05px;border-top:hidden lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Pembelian Obat</h5>
            </div>
            <div style="border-bottom:hidden lightgrey 0.05px;border-top:hidden lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Rencana Kedatangan</h5>
            </div>
            <div style="border-bottom:hidden lightgrey 0.05px;border-top:hidden lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Riwayat Chat Dokter</h5>
            </div>
        </div>
    </div>


    <div class="col-sm-8">
        <div class="card">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">Alamat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >Disabled</a>
                        </li>
                    </ul>
                </div>
                
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="row mb-4"></div>

                        <div class="d-flex justify-content-between" style="margin: 0 1rem">
                                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                                            <div class="input-group w-100"  >
                                                <input  type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search..." />
                                                <div class="input-group-prepend h-10">
                                                    <button type="submit" class="input-group-text" title="search">
                                                        <i class="bi bi-search"></i>
                                                    </button>
                                                </div>
                                                <div class="input-group-prepend h-10">
                                                    <a class="input-group-text" asp-action="Index" title="reset">
                                                        <i class="bi-eraser"></i>
                                                    </a>
                                                </div>

                                            </div>

                                    </form>

                                    <div>
                                        <form name="dropDownLabel" id="form_label" asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize"
                                      asp-route-currentFilter="@ViewBag.CurrentFilter">
                                            @Html.DropDownList(
                                            "dropDownLabel", new SelectList(ViewBag.listLabel,"Label"),
                                            "--Pilih Location Level--",
                                            new { @class = "form-control"}
                                            )
                                        </form>
                                    </div>


                                </div>
                               
                            
                    </div>
                </div>


                <div class="d-flex justify-content-between" style="margin:0 2rem">
                    <button style="cursor:pointer; border:1px solid" id="btn_multiple_delete" disabled><i class="bi-trash-fill"></i>Delete</button>
                    <div style="display:flex; align-items:center">
                      
                        <a style="margin:0 0.5rem" id="az" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.currentFilter"
                           asp-route-pageSize="@ViewBag.currentPageSize">
                            A-Z
                        </a>
                        <form asp-action="Index" id="form_pagesize" style="margin:0 0.5rem">
                            <select name="PageSize" id="PageSize" class="form-control">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </form>
                        <button  style="cursor:pointer; border:1px solid; margin:0 0.5rem" id="btn_create"><i class="bi-plus"></i>Create</button>
                    </div>
                </div>


                <div class="card-body border-top mt-4" >
                    <table class="table">
                        <tbody>

                            @{
                                if (Model.Count != 0)
                                {

                                    foreach (var item in Model)
                                    {
                                                <tr style="border-bottom:1px solid; display:flex">
                                                    <td style="border:none; margin-right:3rem; align-self:center"><input type="checkbox" onchange="selectedItem()" class="mychecked" value="@item.Id" /></td>
                                                    <td style="border:none;display:flex; flex-direction:column; width:25rem; margin-right:7rem">
                                                            <h2 style="display:flex;justify-self:start">@item.Label</h2>
                                                        <a style="display:flex;justify-self:start">@item.Recipient<span style="display:flex;justify-self:start">, @item.RecipientPhoneNumber</span></a>
                                                        <p style="display:flex;justify-self:start">@item.Address <span>, @item.NameLocation</span></p>
                                                    </td>
                                                    <td style="border:none; align-self:center">
                                                        <a class="btn btn-warning text-white btn_edit" dataid="@item.Id"><span style="text-decoration:underline">Edit</span><i class="bi-pencil-fill"></i></a>
                                                        <a class="btn btn-danger text-white btn_delete" dataid="@item.Id"><span style="text-decoration:underline">Delete</span><i class="bi-trash-fill"></i></a>

                                                    </td>
                                                </tr>
                                    }
                                }
                                else
                                {
                                            <tr>
                                                <td>
                                                    data not Found
                                                </td>
                                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                    

                    <div class="card-footer">
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }
                        <div class="row">
                            
                            <div class="col-20">
                                Page @Model.PageIndex of @Model.TotalPages
                                <a asp-action="Index"
                                   asp-route-sortOrder="ViewBag.CurrentSort"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewBag.CurrentFiler"
                                   asp-route-pageSize="@ViewBag.CurrentPageSize" class=" btn btn_info float-right @prevDisabled">Prev</a>
                                <a asp-action="Index"
                                   asp-route-sortOrder="ViewBag.CurrentSort"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewBag.CurrentFiler"
                                   asp-route-pageSize="@ViewBag.CurrentPageSize" class=" btn btn_info float-right @nextDisabled">Next</a>
                                
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>


    </div>
</div>




<script>

    $("#az").click(function(){
        var az = $(this).val()
        console.log(az)
        if (az == "A-Z") {
            $("#az").empty()
            $("#az").append("Z-A")
        }
        else {
            $("#az").empty()
            $("#az").append("A-Z")
        }
    })

    var listId = []

    function selectedItem() {
        var mychecked = $(".mychecked")
        listId = []
        for (var i = 0; i < mychecked.length; i++) {
            if (mychecked[i].checked) {
                listId.push(mychecked[i].value)
            }
        }

        if (listId.length > 0) {
            $("#btn_multiple_delete").attr("disabled", false)
        }
        else {
            $("#btn_multiple_delete").attr("disabled", true)
        }
    }

    $("#btn_multiple_delete").click(function () {
        console.log(listId)

        $("#modal-body").empty()
        $("#modal-body").load("/MBiodataAddress/MultipleDelete", { listId: listId })
        $("#my_modal").modal("show")
    })



    $("#btn_create").click(function () {
        $("#modal-body").empty()
        $("#modal-body").load("/MBiodataAddress/Create")
        $(".modal-dialog").addClass("modal-ld")
        $("#my_modal").modal("show")
    })
    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        $("#modal-body").empty()
        $(".modal-dialog").addClass("modal-ld")
        $(".modal-header").empty()
        $(".modal-header").text("Delete")



        $("#modal-body").load("/MBiodataAddress/Delete?id=" +id)
        $("#my_modal").modal("show")
    })
    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")
        $("#modal-body").empty()
        $(".modal-dialog").addClass("modal-ld")
        $(".modal-header").empty()
        $(".modal-header").text("Edit")
        $("#modal-body").load("/MBiodataAddress/Edit?Id="+id)
        $("#my_modal").modal("show")
    })


    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })

    $("#dropDownLabel").change(function () {
        $("#form_label").submit()
    })

</script>