﻿    @using xpos334.viewmodels;
    @model VMTblVariant;


    @{
        ViewData["Title"] = "Delete Variant";
    }


    <div class="card">
        <div class="card-body">

            <form asp-action="SureDelete" method="post" id="form_delete">
                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                <h3 class="">Are you sure to delete this data <br />@Model.NameVariant</h3>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Yes?</button>
                    <a asp-controller="Variant" asp-action="Index" class="btn btn-light">No</a>
                </div>


            </form>
        </div>
    </div>


    <script>
        $("#form_delete").validate({
            submitHandler: function (form) {

                var id = $("#Id").val()
               // var dataParam = $(form).serialize()    ---> contoh kalo make form
                $.ajax({
                    url: '/Variant/SureDelete',
                    type: "post",
                    data: { id: id },
                    dataType: "json",
                    success: function (respon) {
                        var data = respon.dataRespon
                        if (data.success) {
                            $("#my_modal").modal("hide")
                            toastr.success(
                                data.message,
                                '',
                                {
                                    timeOut: 500,
                                    fadeOut: 500,
                                    onHidden: function () {
                                        window.location.reload()
                                    }
                                }
                            )
                        }
                        else {
                            toastr.errorClass(data.message)
                        }
                    }

                })
            }
        })
    </script>
