﻿@using xpos334.viewmodels;
@model VMTblCustomer

@{
    ViewData["Title"] = "Create Customer";
}

<div class=" card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="IdRole" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                </div>
                @Html.DropDownList(
                "IdRole", new SelectList(ViewBag.ListRole, "Id", "RoleName"),
                "--Pilih Kategory--",
                new { @class = "form-control"}
                )
            </div>
            <div class="mb-4 row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
                    <span id="validate_EmailCustomer" class="text-danger"></span>


                </div>
            </div>

            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password" placeholder="Password">
                </div>
            </div>
          

            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                </div>
            </div>






            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="Customer" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>



    </div>
</div>


<script>


    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCustomer: {
                required: true,
                minlength: 3,
            },
            IdRole: "required",
            Password: {
                minlength: 6,
            }

        },
        messages: {
            NameCustomer: {
                required: "Please fill Name Customer",
                minlength: "The name must consist of at least 3 character",
            },
            IdRole: "Please select Role",
            Password: {
                minlength: "Please insert at least 6 char",
            }

        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()

            var Email = $("#Email").val()
            var id = 0
            var IdRole = $("#IdRole").val()

            $.ajax({
                url: "/Customer/CheckNameIsExist",
                type: "get", //type atau method sama aja.
                data: { Email: Email, id: id, IdRole: IdRole },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_EmailCustomer").text("Email Customer Already Exists");
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Customer/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }
</script>
