﻿﻿@using xpos334.viewmodels;
@model VMTblCustomer


@{
    Layout = null;
    ViewData["Title"] = "Detail Customer";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

        <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>


            <div class="mb-4 row">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Customer Name</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer" readonly>
                </div>
            </div>

        <div class="mb-4 row">
            <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
            </div>
        </div>

            <div class="mb-4 row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" readonly>
                    <span id="validate_EmailCustomer" class="text-danger"></span>

                </div>
            </div>

            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" readonly>
                </div>
            </div>



            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Old Pasword</label>
                <div class="col-sm-8">
                <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" readonly>
                <a><i data-feather="eye" class="feather-icon"></i></a>
                </div>
            </div   



            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
                </div>
            </div>

    </div>
</div>

